<div class="row">

    <!--Post Title goes here-->
    <div class="col-sm-5 col-sm-offset-1 blog">
      <h1 class="title text-uppercase"><%= @post.title%></h1>
        <!-- Avatar goes here -->
        <%= image_tag @post.user.image, class: "img-circle author-small", alt: "#{@post.user.username}'s avatar" %>

        <!-- Username goes here -->
        <%= @post.user.username.capitalize %>

        <!-- Timestamp goes here -->
        on <%= link_to @post.created_at.strftime("%A %b. %e %l:%m%P") %>

        <!-- Post body goes here -->
          <%= simple_format @post.body, class:"blog-body" %>
          <% if @post.photo_upload != nil %>
          <%= image_tag @post.photo_upload %>
          <% end %>
          <br /><br />

          <a href="#" class="primary">
          <span class="button-icon">
          <i class="glyphicon glyphicon-comment"></i>
          </span>
          <span class="button-label">Read Comments</span>
        </a>
        <a href="#" class="primary">
          <span class="button-icon">
            <i class="glyphicon glyphicon-cloud-upload"></i>
          </span>
          <span class="button-label">Read Later</span>
        </a>
        <%= link_to share_path(@post), class:"primary" do %>
          <span class="button-icon">
          <i class="glyphicon glyphicon-plus"></i>
          </span>
          <span class="button-label">Share This Post</span>
        <% end %>
    </div>

    <div class="col-sm-5 col-sm-offset-1 items-center about">
      <%= image_tag @post.user.image, class: "img-circle author-large", alt: "#{@post.user.username}'s avatar" %>
      <%= simple_format @post.user.username.capitalize, class: "text-center" %>
      <div class="social_links text-center">
        <a href="http://www.twitter.com"> Twitter</a>
        <a href="http://www.facebook.com">Facebook</a>
        <a href="http://www.instagram.com">Instagram</a>
        <br />
        <% if flash[:success] %>
          <%= simple_format flash[:success], class:"alert alert-success" %>
        <% end %>
        <br />
        <% if current_user %>
          <!-- Show New Post Button -->
          <%= link_to new_post_path, class:"primary" do %>
            <span class="button-icon">
            <i class="glyphicon glyphicon-plus"></i>
            </span>
            <span class="button-label">New Post</span>
          <% end %>
          <!-- Show Edit Post Button  -->
          <% if current_user == @post.user %>
            <%= link_to edit_post_path(@post), class:"primary" do %>
              <span class="button-icon">
              <i class="glyphicon glyphicon-pencil"></i>
              </span>
              <span class="button-label">Edit Post</span>
            <% end %>
          <% end %>
          <!-- Show Sign Out Button -->
          <%= link_to logout_path, class:"primary", method: "delete" do %>
            <span class="button-icon">
            <i class="glyphicon glyphicon-plus"></i>
            </span>
            <span class="button-label">Logout</span>
          <% end %>
        <% end %>
      </div>

      <div class="ads">
        <%= image_tag "redtrikke.jpg", class: "fake-ad-image items-center" %>
        <p class="col-sm-5 col-sm-offset-4 text-right"><a href="#">About this ad</a></p><br />
      </div>
      <div class="col-sm-5 col-sm-offset-3 author-bio">
        <h5 class="text-center text-uppercase">About <%=@post.user.username %></h5>
        <%= simple_format @post.user.bio, class: "text-left" %>
      </div>
    </div>

<!--End Center Content Row-->
</div>
